@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100;300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
body{
    display:flex;
    justify-content: center;
    height: 100%;
    width:100%;
    background: #fafafa;

}
.dropdown{
    position: relative;
    margin-top: 100px;
    
}
.dropdown::before{
    position: absolute;
    right:20px;
    top:15px;
    z-index:10000;
    width:8px;
    height:8px;
}
.dropdown > input {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    outline:none;
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .option{
    position: absolute;
    top:80px;
    width:100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown .active .option {
    display:block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor:pointer;
}



